# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/

# Editors / IDEs
.idea/
.vscode/

# OS
.DS_Store

# Test / temp files
temp/
*.log

# Coverage
.coverage
htmlcov/

# Troubleshooting and local scripts
scratch/

# Large files
sample_metadata_curation/resources/ne_countries.zip

# raw json
tests/raw_json/

# json outputs saved
tests/outputs/
